body{
  overflow-x: hidden !important;
}

#page-top,#tem-pro{
    overflow-x: hidden;
}
nav#mainNav.navbar.navbar-default.navbar-fixed-top.affix-top{
  background-color: white;
}

ul.nav.navbar-nav.navbar-right li a.page-scroll{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /*font-weight: 100;*/
  font-size: 15px;
  color: snow;
  /*color: #717171;*/
}

ul.nav.navbar-nav.navbar-right, ul.nav.navbar-nav.navbar-right li a.page-scroll:focus{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #4b4b4b;
  text-decoration: underline;
}
/*li a.page-scroll:hover*/
#menu_tog{
  font-family: 'Montserrat', sans-serif;!important;
  color: #4b4b4b;
  font-size: 15px;
  font-weight: 300;
}

a.page-scroll:focus:before{
    content: "<";
}

a.page-scroll:focus:after{
    content: ">";
}

button.enlaceenviar:hover:before{
    content: "< ";
}
button.enlaceenviar:hover:after{
    content: " >";
}
button.enlaceenviar{
    color: #717171;
    font-family: 'Montserrat', sans-serif;!important;
    font-weight: 400;
}
button.enlaceenviar:hover{
    font-weight: bold;
    text-decoration: none;
    color: #4b4b4b;
}
p.text-faded{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: #717171;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

section.banner1{
	padding: 0;
}

form.formulario{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #717171;
}

a.enlaces{
    font-family: 'Montserrat', sans-serif;
	color: dimgray;
	text-decoration: none;
}

ul.lista_enlaces{
	padding-left: 0;
}

.info{
	color: black;
}

ul.lista_info li.info{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

ul.lista_info li a.info{
	text-decoration: none;
}

a.info:hover, a.info:focus{
	color: #B4B4B4;
}
.abre-corchete{
    position: absolute;
    top: 2em;
}
.section-quienes-somos{
    position: relative;
}

/*-------prueba mostrar informacion de nosotros-------*/
.primero_jesus, .segundo_ale, .tercero_alfre, .cuarto_cori, .quinto_douglas{
    display:none;
    padding:5px;
    width:100%;
}
/*-------fin prueba-------*/

div.container-fluid.no_padding{
  padding: 0;
}
.ancho{width: 10.33333%}
#seccion-pro{
   position: absolute;
}
#imagen-fondo{
    height: 1200px;
    opacity: 0.5;
}
#logorora, #proyectos{
    position: relative;
}
.p1, .p2, .p3, .p4, .p5{
  margin-bottom: 30px
}

/*-----probando efecto parallax para los bannners background-----*/
section.banner1{
  background: url(../img/Banners_background2.jpg) 50% 0 fixed;
}
section.banner2{
  background: url(../img/Banners_background3.jpg) 50% 0 fixed;
}
section.banner3{
  background: url(../img/Banners_background1.jpg) 50% 0 fixed;
}

section.banner3, section.banner2, section.banner1{
  height: 400px;
}
div#abre_corchete.col-xs-1{
  padding: 0;
}

div#mapa.col-xs-12.col-sm-5 iframe{
    width: 100%;
}
.ic{
    margin-top: -18px;
}
#alt_parrafo{
    height: 200px;
}
#corchetes{
    margin-top: 3em;
}

section#equipo{
    margin-bottom: 3em;
}
#cont_mobile{
    top: 2em;
    padding-left: 0px;
    padding-right: 0px;
}
#formulario_mobile{
   top: 1em;
   margin-bottom: 3em;
}
/*--------------------CODIGO PARA VISTAS RESPONSIVE--------------------------*/
/*--------------------Desktops--------------------------*/
@media (min-width: 1200px){
    div#secciones.container-fluid{
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 100px;
        margin-left: 100px;
    }
    section.bg-primary{
        /*height: 850px;*/
        margin-bottom: 3em;/*6em*/
    }
    div.navbar-header figure img.img-responsive{
	    height: 70px;
    }
    div#mapa.col-xs-12.col-sm-5{
        top: 9em;
    }
    div#mapa.col-xs-12.col-sm-5 iframe{
        height: 27em;
    }
    div.col-sm-3.hidden-xs{
        top: 4em;
        left: -10em;
    }
    div#img_escritorio.container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    #boton2{
        margin-bottom: 50px;
    }
    #parrafo{
        top: 4em;
        left: 2em;
    }
    .abre-corchete img{
        width: 21em;
    }
    h2.section-heading{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: #717171;
    }

    h2 strong{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #4b4b4b;
    }
    #cierra_corchete{
        width: 21em;
    }

    img#imgmapa.img-responsive{
        margin-top: -12em;
    }
    #img_servpeq{
        top: 5em;
        right: 10%;
    }
    #info_servicios{
        top: 2em;/*9em*/
    }
    #parrafo_serv{
        top: 4em;
    }
    .rrss {
        position:absolute;
        top: 92%;
        left: 8%;
    }
    #info_contact{
        top: 2em
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    section.bg-primary{
        /*height: 67em;*/
        margin-bottom: 2em;
    }
    div.navbar-header figure img.img-responsive{
        height: 60px;
        margin-top: 0em;
    }
    div#equipo.col-sm-12{
        padding-left: 30px;
        padding-right: 30px;
    }
    section#contact.bg-primary div.container-fluid{
        padding-left: 70px;
        padding-right: 70px;
    }
    div#mapa.col-xs-12.col-sm-5 iframe{
        height: 22em;
    }
    div#mapa.col-xs-12.col-sm-5{
        top: 3em;
    }
    div.col-sm-3.hidden-xs{
        top: 4em;
        left: -9em;
    }
    div.container-fluid.no_padding.col-xs-12 img.img-responsive{
        margin-top: 4em;
    }
    div#img_escritorio.container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    #boton2{
        margin-bottom: 30px;
    }
    #abre_corchete.abre-corchete{
        width: 13em;
    }
    #parrafo{
        width: 81%;
        top: 2em;
        left: 2em;
    }
    div#imagen1.col-xs-12.col-sm-6.col-lg-6{
        width: 40%;
        top: 1em;
        left: 25%;
    }
    #pic01{
        top: 1em;
    }
    h2.section-heading{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: #717171;

    }
    h2 strong{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #4b4b4b;
    }
    img#imgmapa.img-responsive{
        margin-top: -9em;
    }
    #img_servpeq{
        top: 5em;
        right: 7em;
    }
    #info_servicios{
        top: 2em;
    }
    .rrss {
        position:absolute;
        top: 92%;
        left: 11%;
    }
    #info_contact{
        top: 2em
    }
    #corchetes{
        margin-top: 5em;
    }
    #alt_parrafo{
        height: 260px;
    }
    #imagen-fondo{
        height: 900px;
    }
}
/*--------------------Tablets--------------------------*/
@media (min-width: 768px) and (max-width: 991px){
    /*section.bg-primary{
        height: 61em;
        margin-bottom: 15em;
    }*/
    div.navbar-header figure img.img-responsive{
       margin-left: 3em;
    }
    ul.nav.navbar-nav.navbar-right{
        margin-right: 5em;
    }
    div.col-sm-3.hidden-xs{
        top: 4em;
        left: -5em;
    }
    div#mapa.col-xs-12.col-sm-5{
        top: 3em;
    }
    div#mapa.col-xs-12.col-sm-5 iframe{
        height: 21em;
    }
    #boton2{
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #717171;
      padding: 10px;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }
    div.container-fluid.no_padding.col-xs-12 img.img-responsive{
        margin-top: 6em;
    }
    div#img_escritorio.container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    #boton2{
        margin-bottom: 45px;
    }
    #abre_corchete{
        width: 18em;
        left: 1em;
    }
    #imagen1{
        margin-top: 4em;
        left: 17em;
    }
    #parrafo{
        width: 47em;
        left: 1em;
        top: 4em;
    }
    h2.section-heading{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 400;
      color: #717171;
    }

    h2 strong{
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #4b4b4b;
    }
    img#imgmapa.img-responsive{
        margin-top: -9em;
    }
    #img_servpeq{
        top: 6em;
        right: 5em;
    }
    #info_servicios{
        top: 6em;
    }
    .rrss {
        position:absolute;
        top: 93%;
        left: 9%;
        font-size: 13px;
    }
    #titleM{
        margin-top: 5em
    }
    #imagen-fondo{
        height: 900px;
    }
}
/*--------------------telefonos--------------------------*/
@media (max-width: 768px){
    div.navbar-header figure img.img-responsive{
      margin-top: 0em;
      width: 50%;
    }
    #logo_h {
      float: none;
      margin-top: 1em;
      margin-left: 1em;
    }
    #logo_2 {
      float: none;
      margin-top: 1em;
      margin-left: 1em;
    }
    header .header-content {
      position: relative;
      text-align: center;
      padding: 100px 15px 100px;
      width: 100%;
      margin-top: 0em;
      height: 450px;/*704px*/
    }
    div#mapa.col-xs-12.col-sm-5 iframe{
        height: 8em;
    }
    div#mapa.col-xs-12.col-sm-5{
        top: 2em;
    }
    div#img_escritorio.container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
    #abre_corchete{
        display: none;
    }
    #cierra_corchete{
        display: none;
    }
    div#boton h3{
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: 200;
      color: #717171;
    }
    section.banner1, section.banner2, section.banner3{
      height: 165px;
    }
    h2.section-heading{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: #717171;

    }
    h2 strong{
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #4b4b4b;
    }
    #imagen-fondo{
        height: 800px;
    }
}
/*-------- iphone 5 -------------*/
@media (max-width: 320px){
  header {
    position: relative;
    width: 398px;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/Banner_Principal.jpg');
    text-align: center;
    color: white;
  }
  .container-fluid {
    width: 398px;
  }
  .banner1{
    width: 398px;
  }
  .banner2{
    width: 398px;
  }
  .banner3{
    width: 398px;
  }
  .centrar{
    margin-left: 35px;
  }
}
.link_form{
    text-align: center
}

@media (min-width: 1700px){
    #pic01{
        margin-top: -7em;
    }
}
#img_equipo{
    z-index: 1;
}
#info-tocar{
    z-index: 2;
    position: absolute;
    top: 28%;
    width: 72%;
}
#primero_jesus, #segundo_ale, #tercero_alfre, #cuarto_cori, #quinto_douglas{
    height: 15em;
}
#informacion-nosotros{
    z-index: 2;
    position: absolute;
    bottom: 10em;
    height: 7em
}
#info_jesus, #info_ale, #info_alfre, #info_cori, #info_douglas{
    top: 50%;
    width: 70%;
}
#primero_jesus:hover, #segundo_ale:hover, #tercero_alfre:hover, #cuarto_cori:hover, #quinto_douglas:hover {
    cursor: pointer;
}
/*---------- Transicion para titulos -------------- */
.animated {
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.parrafo_bio{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff
}
/*-------------pruebas para aniamcion de nuestro equipo en mobile--------------*/
/*efecto circulo*/
.ih-item.circle.effect13.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect13 .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info h3 {
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  color: #fff;
  /*text-transform: uppercase;*/
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 30px 0 0 0;
  height: 80px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 .info p {
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  color: #bbb;
  padding: 5px 5px;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle.effect13 #info_com:hover .info {
  opacity: 1;
}
.ih-item.circle.effect13 #info_com:hover h3 {
  visibility: visible;
}
.ih-item.circle.effect13 #info_com:hover p {
  visibility: visible;
}

.ih-item.circle.effect13.from_left_and_right .info h3 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item.circle.effect13.from_left_and_right .info p {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item.circle.effect13.from_left_and_right #info_com:hover h3 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ih-item.circle.effect13.from_left_and_right #info_com:hover p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.ih-item.circle.effect13.top_to_bottom .info h3 {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.circle.effect13.top_to_bottom .info p {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.ih-item.circle.effect13.top_to_bottom #info_com:hover h3 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ih-item.circle.effect13.top_to_bottom #info_com:hover p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.circle.effect13.bottom_to_top .info h3 {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.circle.effect13.bottom_to_top .info p {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ih-item.circle.effect13.bottom_to_top #info_com:hover h3 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ih-item.circle.effect13.bottom_to_top #info_com:hover p {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item img {
  width: 100%;
  height: 100%;
}
/*--------- Iconos para contactos ---------*/
.mapa_cont {
    position: relative;
}
.rrss a {
    color: #FFFFFF;
    margin-right: 15px;
}
.rrss a:hover {
    color: #717171;
    cursor: pointer;
}
/*--------- Servicios ---------*/
.row.primer{
    position: relative;
}
.parenth_left{
    position: absolute;
    left: 375px;
}
.parenth_right{
    position: absolute;
    right: 375px;
}
.tittleS{
    text-align: center;
}
#parrafo1, #parrafo2, #parrafo3, #parrafo4, #parrafo5{
    display: none;
    text-align: justify;
}
#div1, #div2, #div3, #div4, #div5{
    cursor: pointer;
}

/*para mobiles (landscape)*/
@media (min-width: 520px) and (max-width: 767px){
    .circle{
     margin-left: 10em;
    }
    #titleM{
        margin-top: 2em
    }
}
/*codigo para que se vea centrado los iconos de rrss en esta medida*/
@media (min-width: 1200px) and (max-width: 1650px){
    .rrss{
        left: 5%;
    }
}

.top {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.blanco {
  color: snow !important;
}
.portaf {
  padding-left: 4em;
}
.gris {
  color: #717171 !important;
}